//IN THIS FILE YOU CAN CHANGE COLORS AND FONT STYLE OF THE WHOLE WEBSITE



/*=================*/
/*COLOR VARIABLES :*/
/*=================*/

//global colors:
$caemDark: #1a1a1a; /*currently background color for footer / header*/
$caemGrey: #999999; /*color of the font on the header / footer for some elements*/
$caemOrange: #fc9633;
$caemBlue: #35a1e6;
$caemPink: #e83377;
$caemGreen: #4dd433;
$caemAlert: #db0010;
$caemWhite: #ffffff;

//header / footer main color :
$headerFooterMainColor: $caemDark;

//header / footer border color:
$headerFooterBorderColor: $caemOrange;

//main /


/*=================*/
/*FONTS VARIABLES :*/
/*=================*/

//footer fonts settings :
$footerFontType: Quicksand; /*Quicksand available*/
$footerFontWeight: 400; /*300, 400 or 700 availables*/
$footerFontSize: 1.1em;
$footerFontColor: $caemWhite; /*check for global colors above or create your own*/

// main fonts settings:






/*presentation*/

//title font:
$mainTitleType: Quicksand;
$mainTitleWeight: 700;
$mainTitleSize: 1.5em;
$mainTitleColor: $caemDark;

//subtitle font:
$mainSubtitleType: Quicksand;
$mainSubtitleWeight: 700;
$mainSubtitleSize: 1.2em;
$mainSubtitleColor: $caemDark;

//main font:
$mainFontType: Quicksand;
$mainFontWeight: 400;
$mainFontSize: 1em;
$mainFontColor: $caemDark;

//light font:
$lightFontType: Quicksand;
$lightFontWeight: 300;
$lightFontSize: 1.7rem;
$lightFontColor: $caemDark;




//button symbol
$mainButtonSymbol: "\25B8";
/*presentation*/
/*news*/
$mainNewsHeaderColor: $caemOrange;
$mainNewsShadow: 0px 0px 7px 1px rgba(51,51,51,0.2);
$mainNewsPadding: 0 1.3em;
$mainNewsImgPadding: 1.3em 1.5em;
// $mainNewsImgSizeHeight: 10vh;
// $mainNewsImgSizeWidth: ;

/*news*/
