//TO EASILY CHANGE THE STYLE OF THE WEBSITE, GO TO _configstyle.scss FILE
@import 'configstyle';
@import 'mixinstyle';

//EXTENDS:

.footerFont{@include font($footerFontType, $footerFontWeight, $footerFontSize, $footerFontColor);}


body{
	font-family: QuickSand;
}

main{

	header{

		 	h2{
			font-weight: bold;
		}

		p{
			padding-left: 0.7em;
			line-height: 1.75em;
			font-size: 2em;
		}

		a{
			display: inline-block;
			color: white;
			background-color: $caemBlue;
			font-size: 2.6rem;
			padding: 1rem 2.3rem;
			letter-spacing: 0.2rem;
		}
		a::after{
			content: "\25B8";
			padding-left: 3.3rem;
		}
	}

	section{
		margin: 2em 0;

		header{
			background-color: $caemOrange;
			color: white;
			font-weight: bold;
		}

		article{
		margin: 1.7em 0;
		-webkit-box-shadow: 0px 0px 7px 1px rgba(51,51,51,0.3);
		-moz-box-shadow: 0px 0px 7px 1px rgba(51,51,51,0.3);
		box-shadow: 0px 0px 7px 1px rgba(51,51,51,0.1);

			figure{
				figcaption{
					background-image: url('../img/trame_footer.png');

					h2{
						font-weight: bold;
					}
				}
			}
		}
	}
}

.blue{
	border-left: $caemBlue solid 0.65rem;
}
.green{
	border-left: $caemGreen solid 0.65rem;
}
.pink{
	border-left: $caemPink solid 0.65rem;
}
.orange{
	border-left: $caemOrange solid 0.65rem;
}





#bgImage{
	background-color: $headerFooterMainColor;
	background-image: url(../img/trame_footer.png);
	border-top: 1.5vh solid $headerFooterBorderColor;
}


footer
{
	@extend .footerFont;

	padding-top: 2vh;

	.caemSection
	{
		address
		{
			padding-top: 4vh;

			.caemInfos
			{
				padding: 0;
				margin: 0;
				display: flex;
				align-items: center;
			}
		}

		.socialNetwork
		{
			font-size: 1.1em;
			display: flex;
			flex-flow: column;
			align-items: center;
			padding-top: 4vh;
		}
	}



	nav
	{
		border-bottom: 1px solid $caemWhite;
		padding: 5vh 0vh 2vh 0vh;
		opacity: 0.5;

		a
		{
			@extend .footerFont;
		}

		a:hover
		{
			color: $caemWhite;
		}
	}

	.banner div
	{
		padding: 2vh 0vh 2vh 0vh;
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 768px){footer nav li{padding-bottom: 3vh;} footer nav{padding: 8vh 0vh 5vh 0vh;}}



