/*
Error: Invalid CSS after "...cd024f12d6eebe6": expected "{", was ""
        on line 650 of assets/css/style.scss

645: 	}
646: }
647:
648:
649: >>>>>>> 09c78066ccfe56fc9aa73f3a1cd024f12d6eebe6

Backtrace:
assets/css/style.scss:650
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:1132:in `tok!'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:665:in `block'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:658:in `ruleset'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/home/okma/.rvm/gems/ruby-2.3.3/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/home/okma/.rvm/gems/ruby-2.3.3/bin/sass:22:in `load'
/home/okma/.rvm/gems/ruby-2.3.3/bin/sass:22:in `<main>'
/home/okma/.rvm/gems/ruby-2.3.3/bin/ruby_executable_hooks:15:in `eval'
/home/okma/.rvm/gems/ruby-2.3.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...cd024f12d6eebe6\": expected \"{\", was \"\"\A         on line 650 of assets/css/style.scss\A \A 645: 	}\A 646: }\A 647: \A 648: \A 649: >>>>>>> 09c78066ccfe56fc9aa73f3a1cd024f12d6eebe6"; }
